*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.tittlediv{
  text-align: center;
  background-color: rgba(72, 16, 176, 0.883);
  color: white;
  padding-top: 5px;
  padding-bottom: 7px;
}
.searchdiv{
  text-align: center;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.formdiv{
  border: 1px solid rgb(204, 203, 203);
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  
}
.inputdiv{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.inputdiv input{
  width: 280px;
  height: 30px;
  margin-right: 7px;
}
.submitbutton{
  text-align: center;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.submitbutton button{
  height: 30px;
  padding: 5px;
}
.receiptdiv{
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 1px solid rgb(190, 187, 187);
  border-bottom: 1px solid rgb(190, 187, 187);
  padding-top: 10px;
}
.tcell, tr{
  width: 260px;
  height: 50px;
  padding: 3px;
  text-align: center;
  border-left: 1px solid rgb(171, 169, 169);
}